
<%= render 'negocios/menu_negocio_usuario',negocio: @negocio %>
<h4>Pagar cuenta de proveedor <%= @pago_proveedore.cuenta_proveedor.proveedor.nombre%></h4>

<%= render 'form', pago_proveedore: @pago_proveedore %>


