<%= render 'negocios/menu_negocio_usuario',negocio: @negocio %>
<h4>Nueva Cuenta Proveedor</h4>

<%= render 'form', cuenta_proveedor: @cuenta_proveedor %>

<div id="tabla_cuentas">
  <%= render 'tabla_cuentas', cuentas: @cuentas %>
</div>

