<nav class="navbar navbar-inverse navbar-fixed-top" >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Stocker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" align="right">
            <ul class="nav navbar-nav navbar-right">
                
                <li><%= link_to "Mis Negocios", admin_path(@current_admin) %></li>      
                <li>
                  <%= link_to @current_admin.nombre, "#" %>
                </li>
                 <li>
                    <%= button_to 'Logout', logout_admin_path, method: :delete, class: 'btn btn-primary top-button'%>
                  </li>   
            </ul>
           
         
        </div><!--/.navbar-collapse -->
      </div>
</nav>
